:root {
    /* primary/main color */
    --clr-primary-1: hsl(22, 56%, 31%);
    --clr-primary-2: hsl(22, 49%, 40%);
    --clr-primary-3: hsl(22, 45%, 47%);
    --clr-primary-4: hsl(22, 37%, 56%);
    --clr-primary-5: hsl(22, 41%, 63%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(22, 46%, 70%);
    --clr-primary-7: hsl(22, 47%, 74%);
    --clr-primary-8: hsl(22, 45%, 77%);
    --clr-primary-9: hsl(22, 47%, 82%);
    --clr-primary-10: hsl(22, 50%, 90%);
    --font-family: "Poppins", sans-serif;
}

.h1-style {
    text-align: center;
}

body {
    font-family: var(--clr-primary-1);
    background-color: var(--clr-primary-2);
    color: var(--clr-primary-10);
}

/* cards responsive */
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

#card-container img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.8);
}
#card-container img:hover {
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

#card-container h2 {
    text-align: center;
}
