/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(208, 100%, 20%);
  --clr-primary-2: hsl(208, 90%, 30%);
  --clr-primary-3: hsl(208, 80%, 40%);
  --clr-primary-4: hsl(208, 70%, 50%);
  /* primary/main color */
  --clr-primary-5: hsl(208, 60%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(208, 50%, 70%);
  --clr-primary-7: hsl(208, 40%, 80%);
  --clr-primary-8: hsl(208, 30%, 90%);
  --clr-primary-9: hsl(208, 20%, 95%);
  --clr-primary-10: hsl(208, 10%, 98%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Fira Code", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 1200px) {
  #card-container {
    display: flex;
    flex-direction:column;
    width: 50%;
    align-items: center;
    align-content: stretch;
  }
}
@media screen and (min-width: 700px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

main {
  min-height: 100vh;
  display: flex;
  place-items: center;
}

.h1-style {
  text-align: center;
}

/* cards responsive */
#card-container {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: repeat(3, minmax(250px, 250px)); */
  /* grid-gap: 16px; */
  justify-content: center;
  margin: 20px;
  align-items: center;
  text-align: center;
}
#card-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.8);
}
#card-container img:hover {
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

#card-container h2 {
  text-align: center;
}

.dark-mode-btn {
  position: fixed;
  z-index: 998;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: all 0.3s ease-out;
  color: var(--clr-grey-3);
  background-color: transparent;
}

.dark-mode {
  background-color: var(--clr-black);
  color: var(--clr-primary-6);
}
.card {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  text-align: center;
  width: 100%;
}
